.leaflet-container{
    background-color:white;
}

.leaflet-popup-content-wrapper{
    background-color: #322F3D;
    color: white;
    font-size: 15px;
    font-family: "Oregela One";
}

.mapContainer{
    height: 80vh;
    width: 80vw; 
}

.all-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

